<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Echarts</title>
    <!-- 引入刚刚下载的 ECharts 文件 -->
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.6.0/echarts.common.js"></script></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.js"></script>
</head>
<body>
     <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
     <div id="main" style="width: 600px;height:400px;"></div>
     <script type="text/javascript">
        $.ajaxSetup({async:false});
        var major;
        var count;
        $.post("/getMajor",
          function(data){
            major = data
          }
          )
        $.post("/getCount",
          function(data){
            count = data
          }
        )



       // 基于准备好的dom，初始化echarts实例
       var myChart = echarts.init(document.getElementById('main'));
 
       // 指定图表的配置项和数据
       var option = {
         title: {
           text: '经管学院各个专业学生人数'
         },
         tooltip: {},
         legend: {
           data: ['人数']
         },
         xAxis: {
           data :major
         },
         yAxis: {},
         series: [
           {
             name: '人数',
             type: 'bar',
             data:count
           }
         ]
       };
       
    
       // 使用刚指定的配置项和数据显示图表。
       myChart.setOption(option);
     </script>
</body>
</html>